.acct-wrapper {
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.profile {
    display: flex;
}

.acct-left {
    flex: 1;
    padding-left: 40px;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

.acct-links li {
    margin: 20px 0px;
}

.acct-right {
    flex: 1;
    border-top: 2px solid black;
    padding-left: 40px;
    padding-bottom: 40px;
}

.acct-input {
    flex: 1;
    min-width: 40%;
    margin: 20px 10px 0px 0px;
    padding: 10px;
}

