.acct-wrapper {
    width: 100%;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

.profile {
    display: flex;
}

.acct-left {
    flex: 1;
    padding-left: 40px;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    background: linear-gradient(
        #ffffff49,
        #ffffff93),
    url("../images/account-bg.jpg") center;
    background-size: cover;
}

.acct-links li {
    margin: 20px 0px;
}

.acct-right {
    flex: 1 30vh;
    border-top: 2px solid #000000;
    padding-left: 40px;
    padding-bottom: 40px;
}

.acct-input {
    min-width: 40%;
    margin: 20px 10px 0px 0px;
    padding: 10px;
}

