.cart-wrapper {
    padding: 20px;
}

.cart-links {
    display: flex;
    padding: 20px;
    margin: 0px 10px;
    align-items: center;
    justify-content: space-between;
    text-decoration: underline;
    cursor: pointer;
}

.cart-sections {
    display: flex;
    justify-content: space-between;
}

.cart-elements {
    flex: 3;
}

.cart-prod {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 20px;
    border-right: 0.5px solid #d3d3d3;
}

.cart-prod-img {
    width: 200px;
}

.prod-details {
    display: flex;
}

.prod-id {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    justify-content: space-evenly;
}

.prod-name {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    justify-content: space-evenly;
}

.order {
    flex: 1;
    padding: 20px;
    height: 50vh;
}

.order-details {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
}

.cart-btn {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
}