.cart-wrapper{
    padding: 20px;
}

.cart-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px
}

.cart-links{
    text-decoration: underline;
    cursor: pointer;
    margin: 0px 10px;
}

.cart-info{
    display: flex;
    justify-content: space-between;
}

.cart-items{
    flex: 3;
}

.cart-product{
    display: flex;
    justify-content: space-around;   
    border-right: 0.5px solid #d3d3d3;
}

.product-details{
    flex:2;
    display: flex;
}

.amount-price{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.cart-product {
    margin-top: 30px;
    margin-bottom: 30px;
}

.cart-product-img{
    width: 200px;
}

.product-type{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.summary{
    flex: 1;
    padding: 20px;
    height: 50vh;
}

.summary-description {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
}

.cart-btn{
    width: 100%;
    background-color: #000000;
    color: #ffffff;
}