.login-container {
    width: 100vw;
    height: 44.6vw;
    background: linear-gradient(#ffffff80,
            #ffffff80),
        url("../images/login-bg.jpg") center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-wrapper {
    width: 30%;
    padding: 20px;
    background-color: #ffffff;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-input {
    flex: 1;
    min-width: 40%;
    margin: 10px 0px;
    padding: 10px;
}

.login-btn {
    width: 40%;
    margin-bottom: 10px;
}

.login-link {
    margin: 5px 0px;
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
}

.error {
    color: red
}

@media only screen and (max-width: 1024px) {
    .login-container {
        width: 100%;
        height: 100%;
    }

    .login-wrapper {
        margin: 30px 10px;
        width: 80%;
    }

    .login-btn {
        width: 100px;
    }
}