.categ-wrapper {
    flex: 1;
    text-align: center;
    font-size: 40px;
    border-left: 2px solid #000000;
    position: relative;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000,
        0 0 1em #000000,
        0 0 0.2em #000000;
}

.categ-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.categ-element {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 40px;
}

.categ-element h2 {
    font-size: 60px;
}

.categ-btn {
    margin-top: 0;
    background-color: #ffffff;
    opacity: 95%;
}

@media only screen and (max-width: 1024px) {
    .categ-wrapper {
        display: flex;
        border-left: none;
    }

    .categ-img {
        border-bottom: 1.5px solid #000000;
        height: 30vh;
    }

    .categ-element {
        top: 18%;
    }

    .categ-element h2 {
        font-size: 30px;
        margin: 0px;
    }

    .categ-btn {
        font-size: 10px;
    }
}