.footer {
    display: flex;
    padding: 20px;
    background-color: lightslategray;
    gap: 20px;
}

.footer-left {
    flex: 1;
}

.social-networks {
    display: flex;
}

.footer-center {
    flex: 1;
}

.links {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    list-style: none;   
}

.link-item{
    width: 50%;
    margin-bottom: 10px;
}

.footer-right {
    flex: 1;
}

.payment {
    height: 50px;
}