.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px;
    gap: 30px;
}

@media only screen and (max-width: 1024px) {
    .products {
        margin: 0 10px;
    }
}

@media only screen and (max-width: 768px) {
    .products {
        margin: 0 10px;
        gap: 10px;
        text-align: center;
    }
}