.prod-img {
    width: 50vh;
    height: 30vh;
}

.prod-title h2 {
    margin: 5px 10px;
}

@media only screen and (max-width: 1024px) {
    .prod-img {
        width: 100%;
        height: 82%;
    }
}

@media only screen and (max-width: 768px) {
    .prod-img {
        height: 78%;
    }
}

@media only screen and (max-width: 480px) {
    .prod-img {
        width: 98%;
        height: 68%;
    }
}