.slider {
    display: flex;
    width: 100%;
    height: 100vh;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

.slider-wrapper {
    display: flex;
    flex-direction: row;
}

.slider-img {
    width: 65vh;
    height: 100%;
    border-right: 2px solid #000000;
}

.slider-content {
    margin: auto 80px auto 50px;
}

.slider-title {
    font-size: 70px;
}

.slider-descr {
    letter-spacing: 5px;
}

.left-arrow {
    position: absolute;
    top: 60%;
    transform: scale(2.5);
    left: 35px;
    color: #282c34;
    cursor: pointer;
}

.right-arrow {
    position: absolute;
    top: 60%;
    transform: scale(2.5);
    right: 35px;
    color: #282c34;
    cursor: pointer;
}

.hidden-btn {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .slider {
        width: 100%;
        height: 100%;
        border: none;
        font-size: 12px;
    }

    .slider-wrapper {
        flex-direction: column;
        margin-bottom: 15px;
    }

    .slider-content {
        margin: 0px;
        padding: 0 10px;
        text-align: justify;
    }

    .slider-content .slider-title {
        font-size: 25px;
    }

    .simg-wrapper {
        height: 25vh;
    }

    .slider-img {
        width: 100%;
        object-fit: cover;
        object-position: 10% 40%;
        border: none;
        border-top: 1.5px solid #000000;
        border-bottom: 1.5px solid #000000;
    }

    .slider-title {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .left-arrow,
    .right-arrow {
        display: none;
    }

    .hidden-btn {
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
    }
}